<div>
  <h2>Angular component communication</h2>
  <!--<h4>Parent Component</h4>
  <input type="text" #nameRef/><br/>
  <input type="button" value="send name" (click)="passName(nameRef.value)"/>
  Parent Name is {{parentName}}, Child age is in parent component {{cAge}}
  <br/>
  <input type="button" value="call child2"
  (click)="callChild2()"/>
  Child Designation is {{childDesg}}<br/>
  Product Name : <input type="text" #productName/><br/>
  <input type="button" value="add product" (click)="addProduct(productName.value)"/><br/>
  <hr/>
  <app-child1 [pName]="parentName" (eventRef)="cAge=$event"></app-child1>
  <hr/>
  <app-child2 [productDetails]="productNames"></app-child2>
  <hr/>
  -->
  <!--
  <h2>Shared data between sibling </h2>
  <hr/>
  <app-child3></app-child3>
  <hr/>
  <app-child4></app-child4>
  <hr/>
  -->
  <h2>Shared Data between sibling using BehaviourSubject of Rxjs</h2>
  <hr/>
  <app-child5></app-child5>
  <hr/>
  <app-child6></app-child6>
  <hr/>
  <app-child7></app-child7>
  <hr/>
</div>