<div class="container">
    <table border="1" class="table">
        <tr>
            <th>Id</th>
            <th (click)="sortByName()">Name</th>
            <th>Salary</th>
            <th>Gender</th>
            <td>Date Info</td>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id }}</td>
            <td>{{emp.name | GenderPipe : emp.gender}}</td>
            <td>{{emp.salary | currency:'Rs.'}}</td>
            <td>{{emp.gender }}</td>
            <td>{{dd | date :'short'}}</td>
        </tr>
    </table>
</div>